- content_for :header do
  %h1
    %img{:src => 'http://codeconf.com/images/layout/logo-secondary.png', :align => 'top'}
    %span pen Seats


%form{:id => 'mark-seat-form'}
  %input{:name => 'seat-id', :type => 'hidden'}

  %div
    %input{:name => 'status', :value => 'open', :type => 'radio', :id => 'seat-is-open', :checked => 'checked'}
    %label{:for => 'seat-is-open'} This seat is open.
  %div
    %input{:name => 'status', :value => 'taken', :type => 'radio', :id => 'seat-is-taken'}
    %label{:for => 'seat-is-taken'} This seat is taken.
  %div
    %input{:name => 'status', :value => 'twitter', :type => 'radio', :id => 'seat-is-me'}
    %label{:for => 'seat-is-me'} This seat is me!
    %label{:for => 'twitter-username'} Twitter username:
    %input{:type => 'text', :id => 'twitter-username', :name => 'twitter-username'}
  %div
    %button Save

%table{:id => 'openseats'}
  %tr
    %td{:colspan => '21', :class => 'isle'}
  %tr
    %td{:colspan => '7', :class => 'isle'}
    %td{:colspan => '7', :class => 'filled'}
    %td{:colspan => '7', :class => 'isle'}
  %tr
    %td{:colspan => '7', :class => 'isle'}
    %td{:colspan => '7', :class => 'filled'}
    %td{:colspan => '7', :class => 'isle'}
  %tr
    %td{:colspan => '21', :class => 'isle'}