body {
    background: #111111;
    color: #ddd;
    font-family: "Helvetica Neue", Helvetica, Liberation Sans, Arial, sans-serif;
}

a{
    color: #FF8500;
}

#page {
    width: 960px;
    margin: 0 auto;
}

h1{
    color: #aaa;
    text-align: center;
}

h1 img {
    width: 72px;
    height: 72px;
}

h1 span {
    font-size: 2em;
}

#instructions {
    text-align: center;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #FF8500;
}

td img {
    width: 36px;
    height: 36px;
}

td.filled {
    background-color: #333333;
}

td.isle {
    background: none;
    width: 60px;
	color: #999999;
}

td.seat {
    cursor: pointer;
}

td.selected {
	background-color: #999999;
}


#mark-seat-form { 
	display: none;
	color: black;
	background-color: white;
	border: 1px solid black;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 10px;
}
